/* css file for index.html! */

* {
    color: hsl(273, 100%, 81%);
    text-align: center;
    position: relative;
    font-family: 'Roboto Slab', serif;
}

.section-headers {
    color: rgb(255, 192, 203);
    width: 200px;
    font-size: 10lvw;
    margin: auto;
    border-style: dashed groove;
    border-radius: 5px;
    text-decoration: underline;
    display: inline;
    position: sticky;
    max-width: 350px;
    min-width: 50px;
    font-family: 'Roboto Slab', serif;
}

#unfinished_business {
    color: #405d09;
    height: .5in;
    font-size: 3vw;
    display: block;
    margin-top: .5in;
    padding-left: 2cm;
    border-width: 10px;
}

#new_business {
    color: #405d09;
    width: 5cm;
    font-size: 20svw;
    display: inline-block;
    margin: 5px;
    padding: 0in 0in .25in;
    border-color: rgb(84, 110, 158);
}

a:link {
    color: honeydew;
}

button:hover {
    color: lightcoral;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-template-rows: auto;
}

.grid-item1 {
    grid-column: 2;
}

.grid-item2 {
    grid-column: 3;
}

@media (mid-width: 15px) {
    div {
        background: azure;
    }
}

p, h3 {
    background-color: lavenderblush;
}

a[class~="relation"] {
    padding: 10px;
}

p em {
    font-size: larger;
}

span > p {
    background-color: darkkhaki;
}

il + p {
    font-size: larger;
}

div ~ strong {
    background-color: azure;
}

strong.unfinished_business {
    font-size: x-large;
}